<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="syncLogPublisher" class="com.capgemini.user.logging.core.SyncLogPublisher">
		<property name="logEventStringConverter" ref="logEventStringConverter"/>
		<property name="userLogger" ref="userLogger"/>
	</bean>
	
	<bean id="logEventStringConverter" class="com.capgemini.user.logging.core.DefaultLogEventStringConverter"/>

	<bean id="userLogger" class="com.capgemini.user.logging.core.Slf4jUserLogger"/>	
	
	<alias name="syncLogPublisher" alias="logPublisher"/>

</beans>
